extends layout.pug

block head
  title FRIB Binder
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href=basePath + '/datatables/css/dataTables.bootstrap.css')
  link(rel='stylesheet', href=basePath + '/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')

block content
  .container-fluid
    .btn-toolbar
      .btn-group
        a.btn.btn-primary#new(href=basePath + '/binders/new', target='_blank', data-toggle='tooltip', title='create a new binder')
          i.fa.fa-paperclip.fa-lg
          | &nbsp;New Binder
      //- .btn-group
        button.btn.btn-primary#clone(data-toggle='tooltip', title='clone selected binder')
          i.fa.fa-copy.fa-lg
          | &nbsp;Clone
      .btn-group
        button.btn.btn-info#reload(type='button')
          i.fa.fa-refresh.fa-lg
          | &nbsp;Reload all tables
      .btn-group
        a.btn.btn-info#all-binders(type='button', href=basePath + '/publicbinders/', target='_blank', data-toggle='tooltip', title='see all public binders')
          i.fa.fa-institution.fa-lg
          | &nbsp;All public binders
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body.modal-body-visible
      .modal-footer
    div
      ul.nav.nav-tabs
        li.active
          a(href='#mybinders', data-toggle='tab') My binders
        li
          a(href='#transferredbinders', data-toggle='tab') Transferred binders
        li
          a(href='#sharedbinders', data-toggle='tab') Shared binders
        li
          a(href='#groupsharedbinders', data-toggle='tab') Group shared binders
        li
          a(href='#archivedbinders', data-toggle='tab') Archived binders
      .tab-content
        .tab-pane.active#mybinders
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload(type='button')
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
            .btn-group
              button.btn.btn-warning.archive(type='button', data-toggle='tooltip', title='archive selected binders, only you can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
            .btn-group
              button.btn.btn-warning.transfer(type='button', data-toggle='tooltip', title='transfer the ownership of selected binders to a coworker')
                i.fa.fa-user.fa-lg
                | &nbsp;Transfer ownership
          table.table.table-bordered.table-hover#binder-table
        .tab-pane#transferredbinders
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload(type='button')
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
            .btn-group
              button.btn.btn-warning.archive(type='button', data-toggle='tooltip', title='archive selected binders, only you can see them after archived.')
                i.fa.fa-archive.fa-lg
                | &nbsp;Archive
            .btn-group
              button.btn.btn-warning.transfer(type='button', data-toggle='tooltip', title='transfer the ownership of selected binders to a coworker')
                i.fa.fa-user.fa-lg
                | &nbsp;Transfer ownership
          table.table.table-bordered.table-hover#transferred-binder-table
        .tab-pane#sharedbinders
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload(type='button')
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
          table.table.table-bordered.table-hover#shared-binder-table
        .tab-pane#groupsharedbinders
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload(type='button')
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
          table.table.table-bordered.table-hover#group-shared-binder-table
        .tab-pane#archivedbinders
          .btn-toolbar
            .btn-group
              button.btn.btn-info.reload(type='button')
                i.fa.fa-refresh.fa-lg
                | &nbsp;Reload table
            .btn-group
              button.btn.btn-primary#dearchive(type='button', data-toggle='tooltip', title='de-archive selected travelers')
                i.fa.fa-inbox.fa-lg
                | &nbsp;De-archive
          table.table.table-bordered.table-hover#archived-binder-table


block js
  script(type='text/javascript', src=basePath + '/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src=basePath + '/datatables/js/jquery.dataTables.js')
  script(type='text/javascript', src=basePath + '/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src=basePath + '/datatables/js/ZeroClipboard.js')
  script(type='text/javascript', src=basePath + '/datatables/js/TableTools.js')
  script(type='text/javascript', src=basePath + '/datatables/js/dataTables.bootstrap.js')
  script(type='text/javascript', src=basePath + '/dependencies/moment.js')
  script(type='text/javascript', src=basePath + '/javascripts/table.js')
  script(type='text/javascript', src=basePath + '/javascripts/ajax-helper.js')
  script(type='text/javascript', src=basePath + '/dependencies/typeahead.bundle.js')
  script(type='text/javascript', src=basePath + '/javascripts/global.js')
  script(type='text/javascript', src=basePath + '/javascripts/usernames.js')
  script(type='text/javascript', src=basePath + '/javascripts/table-action.js')
  script(type='text/javascript', src=basePath + '/javascripts/binders.js')


