doctype html
html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    block head
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .nav-collapse.collapse
            ul.nav
              li
                a(href=basePath + '/forms') Forms
              li
                a(href=basePath + '/travelers') Travelers
              li
                a(href=basePath + '/binders') Binders
              li
                a(href=basePath + '/docs', target='_blank') Documents
              if (locals.session && locals.session.userid && locals.session.roles && locals.session.roles.indexOf('admin') !== -1)
                li
                  a(href=basePath + '/admin', target='_blank') Admin
            ul.nav.pull-right
              if (locals.session && locals.session.userid)
                li
                  .user
                    img(src=basePath + '/adusers/' + session.userid + '/photo', alt=session.username)
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown') #{session.username}
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href=basePath + '/profile', target='_blank') Profile
                    li
                      a(href=basePath + '/logout') Log out
              else
                li
                  i.fa.fa-user.fa-3x
                li
                  a(href=basePath + '/login') Log in
    block content
    .container-fluid
      h6.text-right
        a(href=basePath + '/release.txt', target='_blank') Release 3.0.1
    block js

