extends layout.pug

block head
  meta(charset='urf-8')
  title FRIB - traveler - #{traveler._id}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href=basePath + '/bootstrap/css/bootstrap-responsive.css')
  link(rel='stylesheet', href=basePath + '/font-awesome-4.3.0/css/font-awesome.css')
  link(rel='stylesheet', href=basePath + '/stylesheets/style.css')

block content
  script(type='text/javascript').
    var travelerStatus = !{JSON.stringify(traveler.status)};
    var finishedInput = !{JSON.stringify(traveler.finishedInput)};
    var totalInput = !{JSON.stringify(traveler.totalInput)};
    var prefix = '!{prefix}';
  .container
    #message
    .modal.hide.fade#modal(tabindex='-1', role='dialog', data-backdrop='static', aria-labelledby='modalLabel', aria-hidden='true')
      .modal-header
        h3#modalLabel
      .modal-body
      .modal-footer
    .row
      .span9
        h3 Traveler title:  #{traveler.title}
        if (locals.traveler.status !== undefined)
          h4 Status:
            case locals.traveler.status
              when 1
                = ' '
                span active
              when 1.5
                = ' '
                span submitted
              when 2
                = ' '
                span completed
              when 3
                = ' '
                span frozen
              when 0
                = ' '
                span initialized
            if (locals.traveler.status > 0)
              = '; '
              span
                em#finished-input #{traveler.finishedInput}
              = ' inputs finished out of '
              span
                em #{traveler.totalInput}
              = ' inputs'

        if (locals.traveler.devices && traveler.devices.length > 0)
          h4 Tags: #{traveler.devices}
        if (locals.traveler.status !== undefined)
          if (locals.isOwner !== undefined && locals.isOwner)
            case locals.traveler.status
              when 0
                .btn-group
                  button.btn.btn-primary#work(type='button') Start to work
              when 1
                .btn-group
                  button.btn.btn-warning#freeze(type='button') Freeze
              when 1.5
                .btn-group
                  button.btn.btn-primary#approve(type='button') Approve completion
                .btn-group
                  button.btn.btn-warning#more(type='button') More work
              when 3
                .btn-group
                  button.btn.btn-primary#resume(type='button') Resume
          if (locals.traveler.status === 1)
            .btn-group
              button.btn.btn-primary#complete Submit for completion

        if (locals.traveler.status !== undefined && locals.traveler.status > 0)
          .btn-group
            button.btn.btn-info#update-progress(type='button') Update progress
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-validation(type='button') Show
            button.btn.btn-info.active#hide-validation(type='button') Hide validation
          .btn-group(data-toggle='buttons-radio')
            button.btn.btn-info#show-notes(type='button') Show
            button.btn.btn-info.active#hide-notes(type='button') Hide notes
        .btn-group
          button.btn.btn-info(type='button', data-toggle='collapse', data-target='#details') Details
        .well.hide#validation
        .collapse.out#details
          if (locals.traveler.description !== undefined)
            h4 Description: #{traveler.description}
          if (locals.traveler.deadline !== undefined)
            p Deadline:
              = ' '
              span.time #{traveler.deadline}
          p Created by #{traveler.createdBy}
            = ' '
            if (locals.traveler.clonedBy !== undefined)
              | cloned by #{traveler.clonedBy} on
            else
              | on
            = ' '
            span.time #{traveler.createdOn}
          if (locals.traveler.updatedBy !== undefined)
            p Updated by #{traveler.updatedBy} on
              = ' '
              span.time #{traveler.updatedOn}
        br
        form.form-horizontal#form
          if (traveler.forms.length === 1)
            != traveler.forms[0].html
          else if (traveler.forms.id(traveler.activeForm))
            != traveler.forms.id(traveler.activeForm).html
          else
            != ''
      .span3.sidebar

block js
  script(type='text/javascript', src=basePath + '/jquery/jquery-1.9.1.js')
  script(type='text/javascript', src=basePath + '/bootstrap/js/bootstrap.js')
  script(type='text/javascript', src=basePath + '/dependencies/modernizr.js')
  script(type='text/javascript', src=basePath + '/dependencies/binder.js')
  script(type='text/javascript', src=basePath + '/dependencies/moment.js')
  script(type='text/javascript', src=basePath + '/dependencies/livestamp.js')
  script(type='text/javascript', src=basePath + '/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(type='text/javascript', src=basePath + '/javascripts/ajax-helper.js')
  script(type='text/javascript', src=basePath + '/javascripts/traveler.js')
